name: Release

on:
  workflow_dispatch:
    inputs:
      app:
        type: string
        description: The name of the app to build
        required: true
      release:
        type: boolean
        description: Whether to release the app
        required: false
        default: false
  pull_request:
    branches: ["main"]
  push:
    branches: ["main"]

env:
  IMAGE_REGISTRY: ghcr.io

jobs:
  changed:
    name: Get Changed Files
    runs-on: ubuntu-latest
    permissions:
      contents: read
    outputs:
      apps: ${{ steps.apps.outputs.apps }}
    steps:
      - name: Generate Token
        uses: actions/create-github-app-token@67018539274d69449ef7c02e8e71183d1719ab42 # v2
        id: app-token
        with:
          app-id: "${{ secrets.BOT_APP_ID }}"
          private-key: "${{ secrets.BOT_APP_PRIVATE_KEY }}"

      - name: Checkout
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5
        with:
          token: "${{ steps.app-token.outputs.token }}"

      - name: Get Changed Files
        id: changed-dirs
        uses: tj-actions/changed-files@24d32ffd492484c1d75e0c0b894501ddb9d30d62 # v47.0.0
        with:
          dir_names: true
          dir_names_max_depth: '1'
          path: apps

      - name: List all changed files
        run: echo "${{ steps.changed-dirs.outputs.all_changed_and_modified_files }}"

      - name: Select Apps to Build
        uses: actions/github-script@ed597411d8f924073f98dfc5c65a23a2325f34cd # v8.0.0
        id: apps
        with:
          script: |
            const input =
              context.eventName === 'workflow_dispatch'
                ? '${{ inputs.app }}'
                : '${{ steps.changed-dirs.outputs.all_changed_and_modified_files }}';

            const appsToBuild = input.split(' ').filter(Boolean);
            const output = [];

            appsToBuild.forEach((app) => {
              output.push(app);
            });

            core.setOutput('apps', output);
            console.log('apps:', JSON.stringify(output, null, 2));
            core.summary.addHeading('Apps to build:').addList(appsToBuild).write();

  build:
    name: Build
    runs-on: ubuntu-latest
    if: ${{ needs.changed.outputs.apps != '[]' }}
    needs: ["changed"]
    permissions:
      packages: write
      id-token: write
    strategy:
      matrix:
        containers: ${{ fromJSON(needs.changed.outputs.apps) }}
      max-parallel: 4
      fail-fast: false
    steps:
      - name: Generate Token
        uses: actions/create-github-app-token@67018539274d69449ef7c02e8e71183d1719ab42 # v2
        id: app-token
        with:
          app-id: "${{ secrets.BOT_APP_ID }}"
          private-key: "${{ secrets.BOT_APP_PRIVATE_KEY }}"

      - name: Checkout
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5
        with:
          token: "${{ steps.app-token.outputs.token }}"

      - name: Prepare
        id: prep
        run: |
          container_name=$(basename ${{ matrix.containers }})
          echo "container-name=${container_name}" >> "${GITHUB_OUTPUT}"

          container_image=$(head -1 ./apps/${container_name}/Dockerfile | sed 's/^FROM //')
          container_version=$(cut -d':' -f2 <<< "${container_image}")
          if [[ "${container_version}" == *sha256 ]]; then
              container_version=$(cut -d'@' -f1 <<< "${container_version}")
          fi
          echo "container-version=${container_version}" >> "${GITHUB_OUTPUT}"

          container_platform=$(cat ./apps/${container_name}/PLATFORM)
          echo "container-platform=${container_platform}" >> "${GITHUB_OUTPUT}"

      - name: Set up QEMU
        uses: docker/setup-qemu-action@c7c53464625b32c7a7e944ae62b3e17d2b600130 # v3

      - name: Login to GitHub Container Registry
        uses: docker/login-action@5e57cd118135c172c3672efd75eb46360885c0ef # v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@e468171a9de216ec08956ac3ada2f0791b6bd435 # v3

      - name: Build and Push
        uses: docker/build-push-action@263435318d21b8e681c14492fe198d362a7d2c83 # v6
        with:
          build-args: VERSION=${{ steps.prep.outputs.container-version }}
          context: .
          platforms: ${{ steps.prep.outputs.container-platform }}
          file: ./apps/${{ steps.prep.outputs.container-name }}/Dockerfile
          push: ${{ github.event_name == 'workflow_dispatch' && inputs.release || github.event_name == 'push' }}
          tags: |
            ${{ env.IMAGE_REGISTRY }}/${{ github.repository_owner }}/${{ steps.prep.outputs.container-name }}:${{ steps.prep.outputs.container-version }}

  release-status:
    needs: ["build"]
    name: Build Images Success
    runs-on: ubuntu-latest
    if: ${{ always() }}
    steps:
      - name: Any jobs failed?
        if: ${{ contains(needs.*.result, 'failure') }}
        run: exit 1
      - name: All jobs passed or skipped
        if: ${{ !(contains(needs.*.result, 'failure')) }}
        run: echo "All jobs passed or skipped" && echo "${{ toJSON(needs.*.result) }}"
